*{
    margin:0px;
    padding:0px;
}

div#arriba{
    margin:auto;
    width: 800px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border: solid;
}

div#abajo{
    margin:auto;
    width: 800px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border: solid;
}

div#texto{
    margin:auto;
    width: 600px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border: solid;
}
